@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.default{
  @apply font-default
}

.heading1 {
  @apply default
  text-[40px]
  leading-[48px]
  md:text-[56px]
  md:leading-[64px]
  lg:text-[56px]
  lg:leading-[64px]
}

.heading2 {
  @apply default
  text-[32px]
  leading-[40px]
  md:text-[40px]
  md:leading-[48px]
  lg:text-[40px]
  lg:leading-[48px]
}

.heading3 {
  @apply default
  text-[24px]
  leading-[32px]
  md:text-[32px]
  md:leading-[40px]
  lg:text-[32px]
  lg:leading-[40px]
}

.heading4 {
  @apply default
  text-[20px]
  leading-[28px]
  md:text-[24px]
  md:leading-[32px]
  lg:text-[24px]
  lg:leading-[32px]
}

.heading5 {
  @apply default
  text-[18px]
  leading-[26px]
  md:text-[20px]
  md:leading-[28px]
  lg:text-[20px]
  lg:leading-[28px]
}

.heading6 {
  @apply default
  text-[16px]
  leading-[24px]
  md:leading-[24px]
  lg:leading-[24px]
}

.heading7{
  @apply default
  text-[14px]
  leading-[22px]
  md:leading-[22px]
  lg:leading-[22px]
}

p{
  @apply default
  text-[16px]
  leading-[24px]
  md:text-[16px]
  md:leading-[24px]
  lg:text-[16px]
  lg:leading-[24px]
}

p.label{
  @apply default
}

p.small {
  @apply default
} 

p.call-to-action {
  @apply default
}